/* Variables CSS */
:root {
    --main-bg-color: #f4f4f9;
    --main-font-color: #333;
    --highlight-color: #4CAF50;
}

/* Estilos del body */
body {
    font-size: 16px; /* Tamaño de letra */
    font-family: 'Roboto', sans-serif; /* Fuente de Google Fonts */
    background-color: var(--main-bg-color); /* Color de fondo */
    color: var(--main-font-color); /* Color de letra */
    margin: 0;
    padding: 20px;
}

/* Enlaces */
a {
    color: var(--main-font-color); /* Color de letra para enlaces */
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color); /* Color de letra en estado hover */
}

/* Imágenes e iframe */
img, iframe {
    max-width: 100%; /* Responsivas */
    height: auto;
}

/* Tablas */
table {
    width: 100%; /* Tabla adaptada al contenedor */
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Clases utilitarias */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.p-10 {
    padding: 10px;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-dark {
    background-color: #343a40;
    color: white;
}

.rounded {
    border-radius: 5px;
}

.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
